# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Matplitlib
* PyTorch
* Scikit-Learn

### Data Science tools

 |No.| Name of tool  |
|---|--------|
| 1 |  Python |
| 2 |  R Programming   |   
| 3 | Git |   
| 4 | Apache Spark |   
| 5 | Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

<!-- This a simple arithmetic expression to mutiply then add integers. -->
In this code cell evaluate the expression $(3*4) + 5$

In [1]:
result = (3*4) + 5
print("The result of the expression (3*4) + 5 is:", result)

The result of the expression (3*4) + 5 is: 17

In this code cell write an expression that converts `200 minutes` into `hours`.

In [2]:
# This will convert 200 minutes to hours by diving by 60
result = (200 / 60)
print("The result of the expression (200/60)is:", result)

The result of the expression (200/60)is: 3.3333333333333335

**Objectives:**

- R
- Python
- C++

## Author

Sara Shojaei